<template>
  <q-page >
    <div v-if="messagesConversation.length > 0"
         ref="chatContainer"
         class="row chat-section  justify-evenly">

      <ChatSection   :messages="messagesConversation" />
    </div>
    <div v-else  class="column  justify-evenly" >
    <h3>Select a conversation to show is messages</h3>
    </div>
    <div class="row items-center justify-evenly"  >
      <q-btn-toggle
        v-model="messageType"
        no-caps
        rounded
        unelevated
        toggle-color="primary"
        color="white"
        text-color="primary"
        :options="[
          {label: 'Text', value: 'text'},
          {label: 'file', value: 'file'}
        ]"
      />
    <q-input  v-if="messageType ===  'text'" class="col-6" v-model="message"
             :disable="localUserStore.role !== 'full'"
             label="Message" autogrow @keyup.enter="sendMessage" />

        <q-file v-else-if="messageType ===  'file'" max-files="1"  v-model="messageFile">
            <template v-slot:prepend>
              <q-icon name="attach_file" />
            </template>
        </q-file>

      <q-btn
        class="col-2"
        color="primary"
        label="Send message"
        @click="sendMessage"
        :disable="localUserStore.role !== 'full'||
         (message === '' && !messageFile )"
      />
      </div>
  </q-page>
</template>

<script setup lang="ts">
import {
  onMounted, onBeforeUnmount, ref, watch, nextTick,
} from 'vue';
import ChatSection from 'components/ChatSection.vue';
import io, { Socket } from 'socket.io-client';
import { MessagesFactory, Message } from 'src/MessagesFactory';
import { userStore } from 'stores/userStore';
import { QFile } from 'quasar';
import ApiHelper from 'src/ApiHelper';
import { AxiosResponse } from 'axios';

const socket = ref<Socket | null>(null);
const messages = ref<Message[]>([]);
const messagesConversation = ref<Message[]>([]);

const message = ref<string>('');
const messageFile = ref<File | null>(null);
const WEBSOCKET_URL = <string> 'ws://localhost:3000';
const localUserStore = userStore();
const messageType = ref<string>('text');
// we build a ref to the chat container to autoscroll for new message
const chatContainer = ref<HTMLElement | null>(null);

function setupSocket(): void {
  socket.value = io(WEBSOCKET_URL);
  socket.value.on('message', (msg: Message) : void => {
    messages.value.push(MessagesFactory.createMessage(msg));
  });
}

async function scrollChatToBottom(): Promise<void> {
  // we use nextTick to ensure the next code will be executed after the DOM has been updated
  await nextTick();
  // we scroll bottom
  if (chatContainer.value) {
    chatContainer.value.scrollTop = chatContainer.value.scrollHeight;
  }
}

onMounted(() => {
  setupSocket();
});
// we watch the messages to filter them by conversation
watch(messages, (newMessages : Message[]) : void => {
  newMessages.forEach(async (msg : Message) :Promise<void> => {
    // we check if the message exist in conversationMessage
    const messageExists = messagesConversation.value.some(
      (conversationMessage : Message) => conversationMessage.messageId === msg.messageId,
    );
    if (msg.conversationId === localUserStore.selectedConversationId && !messageExists) {
      messagesConversation.value.push(msg);
      await scrollChatToBottom();
    }
  });
}, { deep: true });

// we watch the conversation  to filter the messages by conversation
// eslint-disable-next-line max-len
watch(() => localUserStore.selectedConversationId, async (newConversationId: string): Promise<void> => {
  // eslint-disable-next-line max-len
  messagesConversation.value = messages.value.filter((msg : Message) => msg.conversationId === newConversationId);
  // we use nextTick to ensure the next code will be executed after the DOM has been updated
  await scrollChatToBottom();
});

// we clear the inputs when the user switch of types
watch(() => messageType.value, (newType : string) :void => {
  if (newType === 'text') {
    messageFile.value = null;
  } else {
    message.value = '';
  }
});

async function sendMessage() : Promise<void> {
  // we check if a conversation is selected and if the message is existing
  if ((message.value !== '' || messageFile.value) && localUserStore.selectedConversationId !== '') {
    const date = new Date();
    const utcDate = date.toISOString();
    // this object will contain all the data to hydrate the Messages
    const messageInitObj : object = {
      conversationId: localUserStore.selectedConversationId,
      from: localUserStore.email,
      status: 'pending',
      time: utcDate,
    };
    // if the message is a file
    if (messageFile.value) {
      const res :AxiosResponse = await ApiHelper.uploadFile(messageFile.value);
      if (res.data) {
        messageInitObj.name = res.data;
        // in function of the file type we set the type of the messageInitObj
        messageInitObj.type = ((messageFile.value.type as string).startsWith('image/')) ? 'attachment-image' : 'attachment-file';
        // we reinitialise the file message
        messageFile.value = null;
      }
    } else {
      messageInitObj.message = message.value;
      messageInitObj.type = 'text';
    }

    const messageObj :Message = MessagesFactory.createMessage(messageInitObj);
    if (socket.value) {
      try {
        socket.value.send(messageObj);
        message.value = '';
      } catch (error) {
        console.error('Failed to send message:', error);
      }
    } else {
      console.error('No socket connection.');
    }
  }
}

onBeforeUnmount(() => {
  // we check if the socket be initialised
  if (socket.value !== null) {
    try {
      socket.value.close();
    } catch (error) {
      console.error('Failed to close socket:', error);
    }
  }
});
</script>

<style scoped lang="scss">
.chat-section {
  overflow-y: auto;
  height: 80vh;
}
</style>
