<template>
<q-page>
  <q-card class="login-panel">
    <q-card-section class="column justify-center items-center">
        <span
          class="text-Smart"
        >{{txt.title}}</span>
    </q-card-section>
    <q-card-section class="row items-center justify-center">
      <span>{{txt.subtitle}}</span>
    </q-card-section>
    <q-card-section class="row q-gutter-lg items-center justify-center">
      <q-input
        :label="txt.account.label"
        class="login-input"
        outlined v-model="email">
        <template v-slot:prepend>
          <q-icon color="primary" name="email" />
        </template>
      </q-input>
      <q-input
        type="password"
        :label="txt.password.label"
        class="login-input"
        outlined v-model="password">
        <template v-slot:prepend>
          <q-icon color="primary" name="lock" />
        </template>
      </q-input>
    </q-card-section>
    <q-card-section class="row items-center justify-center">
      <q-btn
        :icon="txt.btn.icon"
        class="main-button"
        :label="txt.btn.label"
        @click="login"
      />
    </q-card-section>
    <q-card-section class="column q-gutter-sm items-center justify-center">
    </q-card-section>
  </q-card>
</q-page>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import txt from 'assets/texts/loginPanel/main.json';
import ApiHelper from 'src/ApiHelper';
import { useQuasar } from 'quasar';
import { userStore } from 'stores/userStore';
import Utils from 'src/Utils';
import { useRouter } from 'vue-router';

const email = ref<string>('');
const password = ref<string>('');
const $q = useQuasar();
const currentUserStore = userStore();
const router = useRouter();
import { AxiosResponse } from 'axios';

const login = async () :Promise<void> => {
  const dataToSend = {
    email: email.value,
    password: password.value,
  };
  ApiHelper.login(dataToSend).then((res : AxiosResponse) => {
    // once we get logged we set the user in the store
    currentUserStore.setUser(res.data);
    // we set the axios headers with the token from the api
    ApiHelper.setHeader(res.data.token);
    // we set the aut cookies we will use them to login without need user action
    $q.cookies.set(
      'auth-assessment-token',
      res.data.token,
      { sameSite: 'Strict', expires: 14, secure: true },
    );
    Utils.closeLoader();
    // we redirect the user on the chat page
    router.push('/chat');
  });
};
</script>

<style scoped lang="scss">
.login-panel {
  width: 550px;
  margin: 0 auto;
  background: white;
  padding: 50px 30px;
  border-radius: 10px;
}

.text-Smart {
  font-size: 36px;
  font-weight: 600;
  margin-top: 8px
}

.main-button {
  height: 37px;
  border-radius: 10px;
  background: $primary;
  color: white;
  margin-bottom: 24px;
}

.login-input {
  width: 100%
}
</style>
