<template>
<div class="chat-element" v-for="(message,key) in messages" :key="key" >
  <q-chat-message
    v-if="message.type === 'text'"
    :name="message.from"
    :text="[message.message]"
    :sent="currentUserInfo.email === message.from"
    :stamp="Utils.formatDateTimeToLocal(message.time)"
  />
  <q-chat-message
   v-else-if="message.type === 'attachment-image'"
    :name="message.from"
    :text="[buildImageForChatMessage(message.url)]"
    :text-html="true"
    :sent="currentUserInfo.email === message.from"
    :stamp="Utils.formatDateTimeToLocal(message.time)"
  />
  <q-chat-message
    v-else-if="message.type === 'attachment-file'"
    :name="message.from"
    :text="[buildDlButtonForChatMessage(message.url)]"
    :text-html="true"
    :sent="currentUserInfo.email === message.from"
    :stamp="Utils.formatDateTimeToLocal(message.time)"
  />

</div>
</template>

<script setup lang="ts">
import { Message } from 'src/MessagesFactory';
import { userStore } from 'stores/userStore';
import Utils from 'src/Utils';

const currentUserInfo = userStore();

// eslint-disable-next-line @typescript-eslint/no-unused-vars
const props = defineProps<{
  messages: Message[];
}>();

// eslint-disable-next-line max-len
// we use that function to insert a html image with the good source inside the q-chat-message element
function buildImageForChatMessage(fileUrl : string) :string {
  return `<img src="${fileUrl}" width="200vw" alt="image">`;
}
// build a btn to download the file
function buildDlButtonForChatMessage(fileUrl : string) :string {
  return `<a href="${fileUrl}" download>
  <button>Download File</button>
</a>`;
}
</script>

<style scoped lang="scss">
.chat-element {
  width: 80%;
  margin-left: 10%;
}
</style>
