<template>
  <q-item
    clickable
    tag="a"
    target="_blank"
    @click="selectConversation(id)"
  >

    <q-item-section>
      <q-item-label>{{ name }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script setup lang="ts">
import { defineEmits } from 'vue';

const emits = defineEmits(['conversation-selected']);

export interface Conversation {
  name: string;
  id: string;
}
withDefaults(defineProps<Conversation>(), {
  name: '',
  id: '',
});

function selectConversation(conversationId: string) {
  emits('conversation-selected', conversationId);
}
</script>
