<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title>
          Chat
        </q-toolbar-title>

        <div>   <q-btn v-if="currentUserStore.email !== ''" label="Logout" @click="logout" /></div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
    >
      <q-list v-if="currentUserStore.email !== ''" >
        <q-item-label
          header
        >
         Conversations
        </q-item-label>

        <ConversationsSection
          v-for="conversation in conversations"
          :key="conversation.name"
          v-bind="conversation"
          @conversationSelected="conversationSelected"
        />
      </q-list>
      <h5 v-else >
        Connect you to see the Conversations.
      </h5>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue';
import ConversationsSection, { Conversation } from 'components/ConversationsSection.vue';
import { userStore } from 'stores/userStore';
import ApiHelper from 'src/ApiHelper';
import { Cookies } from 'quasar';
import { useRouter } from 'vue-router';
import { AxiosResponse } from 'axios';

const leftDrawerOpen = ref<boolean>(false);
const currentUserStore = userStore();
const router = useRouter();
const conversations = ref<Conversation[]>([]);
async function getConversations() : Promise<void> {
  const res :AxiosResponse = await ApiHelper.getConversations();
  conversations.value = res.data;
}
onMounted(() => getConversations());

function logout() :void {
  // we remove the header token
  ApiHelper.setHeader('');
  // we clean the store
  currentUserStore.logout();
  // remove the coockies
  Cookies.remove('auth-assessment-token');
  router.push('/');
}
function conversationSelected(id:string) :void {
  // we set the conversation selected into the store
  currentUserStore.setSelectedConversation(id);
}
function toggleLeftDrawer() :void {
  leftDrawerOpen.value = !leftDrawerOpen.value;
}
</script>
